video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

/*TENTAR MODIFICAR ESSA VARIÁVEL EM CADA UMA DAS PÁGINAS*/
:root{
    --img-fundo: url("../../images/home-capa.jpg") 
}

.hero-container{
    background: var(--img-fundo) center center/cover no-repeat;
    height: 100vh;  /*100vh retorna a altura do navegador (1vh é igual a 1/100 da altura da viewport, então, por exemplo, se a altura do navegador é 900px , 1vh equivale a 9px*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.hero-container > h1{
    font-size: 50px;
}

.hero-container > p{
    margin-top: 8px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-btns{
    margin-top: 32px;    
    text-align: center;
}

.fa-play-circle{
    margin-left: 4px;
}

@media screen and (max-width: 960px){
    .hero-container > h1{
        font-size: 33px;
    }

    .hero-container > p {   /*Seleciona todos <p> onde o pai tem a classe hero-container*/
        font-size: 25px;
    }
}

@media screen and (max-width: 650px){
    .hero-container > h1{
        font-size: 22px;
    }

    .hero-container > p {
        font-size: 19px;
    }
}