$white: #fff;
$whiteHover: #e9e9e9;
$dark-grey: #242424;
$medium-grey: #444444;
$light-grey: #969696;
$input-border-grey: #ced4da;
$dark-blue: #202f42;
$medium-blue: #273952;
$light-blue: #78d0db;
$blue: #0db4ca; 
$coral: #f85040;
$green: #58C22E;

