@import 'src/styles/reset';
@import 'src/styles/variables';


.paralax-container{
    height: fit-content;
    padding: 90px 0;
    margin: 20px 0;
    text-align: center;
    background-image: url('../../assets/Home/Paralax/paralax-background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   //essa configuração é que gera o efeito parallax
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    
    .paralax-infos{
        padding: 30px 25px;
        color: $white;

        h2{
            font-size: 2.5rem;
        }
        
        p{
            margin-top: 20px;
            font-size: 1.3rem;
        }
    }
}