@import 'src/styles/reset';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.relatorioData-container{
    // height: 100vh;
    min-width: 900px;
    box-sizing: border-box;
    position: relative;
}

.relatorioData-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    background-image: url('../../assets/SignIn/sign-in-capa.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-restaurante{
    font-size: 6rem;
    color: #198754;
}

.relatorioData-titulo {
    line-height: 170px;
    margin-left: 25px; 
    color: $white;
    font-size: 4rem;
    text-align: center;
}

.relatorioData-body{
    padding: 40px 30px; 
    height: 75vh; 
    position: relative;
    display: flex;
    flex-direction: column;
}

.divider::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    margin-right: 5px;
    background: $light-grey;
}

.relatorioData-tabela-grafico{
    .tabela-dados-relatorio{
        width: 100%;
        font-size: 1rem;
        margin-top: 30px;
    }

}

.relatorioData-botoes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    // position:absolute;
    // bottom: 40px;
}

