body{
    margin: 0;
    padding: 0;
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap; /*evita que o texto do botão quebre linha independente do tamanho do botão */
}

.btn--white{
    background-color: var(--white);
    color: var(--dark-grey);
    border: 1px solid var(--white);
    transition: all 0.3s ease-out;
}

.btn--white:hover{ 
    background: var(--white);
    color: var(--dark-grey);
}

.btn--create-account{
    background-color: #5fa371;
    border: 1px solid #2d4e36;
    color: var(--white);
    transition: all 0.3s ease-out;
}

.btn--create-account:hover{
    background-color: #549265;
    color: var(--white);
}

.btn--login{
    width: 100%;
    background-color: #234d59;
    border: 1px solid var(--dark-grey);
    color: var(--white);
    transition: all 0.3s ease-out;
}

.btn--login:hover{
    background-color: #2c606e;
    color: var(--white);
}

.btn--outline{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    transition: all 0.3s ease-out;
}

.btn--outline:hover{
    background-color: #ffffff1a;
    color: var(--white);
}

.btn--create-account{
    background-color: #5fa371;
    border: 1px solid #2d4e36;
    color: var(--white);
}

.btn--create-account:hover{
    background-color: #549265;
    color: var(--white);
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.btn--medium{
    padding: 10px 20px;
    font-size: 16px;
}

.btn--large{
    padding: 20px 26px;
    font-size: 20px;
}