@import 'src/styles/variables';
@import 'src/styles/reset';

body{
    text-decoration: none;
}

.create-account-container{
    font-size: 10px;    /*fonte padrão para facilitar na responsividade, já que todas as unidades de tamanho de fonte se baseiam nessa unidade aqui (por conta do REM). Ex.: 1.2rem = 12px */
    padding: 0;
}

.create-account-header {  
    height: 170px;
    width: 100%;
    background-image: url('../../assets/NewAccount/sign-up-capa.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.create-account {
    line-height: 170px;
    width: 100%; 
    color: $white;
    font-size: 70px;
    text-align: center;
}

.create-account-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 20px 20px; /*padding se aplica àquilo que está dentro do elemento e, não, ao elemento em si*/
    margin: 20px auto;
    height:fit-content;
}

.form{
    display: grid;
    align-content: space-between;
    height: 680px;
    font-size: 1.3em;
    font-weight: 660;
}

.address{
    display: grid;
    align-content: space-between;
    height: 380px;
}

.grid-template-columns-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.terms-of-use-link{
    font-size: 1.1em;
    margin-bottom: 15px;
}

.already-have-account-span{
    font-size: 1.3em;
    color: #4d4d4d;
    position: relative;
    width: 100%;
    border-style: solid;
    border-radius: 4px;
    border-image: linear-gradient(to right, rgba(238, 238, 238, 0.281), rgba(155, 155, 155, 0.226), rgba(238, 238, 238, 0.281))100% 1;
    border-bottom: none; 
}


.error-message{
    color: rgb(216, 0, 0);
    font-weight: normal;
}
