@import 'src/styles/reset';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.categoria-container{
    min-width: 900px;
    box-sizing: border-box;
    position: relative;
}

.categoria-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    background-image: url('../../assets/SignIn/sign-in-capa.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-restaurante{
    font-size: 6rem;
    color: #198754;
}

.categoria-titulo {
    line-height: 170px;
    margin-left: 25px; 
    color: $white;
    font-size: 4rem;
    text-align: center;
}

.categoria-body{
    padding: 40px 30px; 
    height: 100%; 
    position: relative;
    display: flex;
    flex-direction: column;

    .form{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
}

.divider::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    margin-right: 5px;
    background: $light-grey;
}

.categoria-label-input{
    .label-nome-cargo{
        margin-top: 40px;
        font-size: 1.2rem;
        font-weight: 600;
        display: block;
    }

    .input-categoria{
        width: 80%;
        margin-top: 10px;
        font-size: 1.2rem;
    }
}

.resumo-categoria-container{   
    .resumo-categoria-scrollarea{
        border: 1px solid $input-border-grey;
        border-radius: 4px;
        margin-top: 40px;
        padding: 15px;
        width: 100%;
        height: 300px;
        overflow-y: auto;
        word-wrap: break-word;

        .resumo-titulo{
            font-size: 1.5rem;
            font-weight: 500;
            font-style: italic;
            text-decoration: underline;
            text-align: center;
        }

        .resumo-info{
            display: flex;
            padding: 10px;
            font-size: 1rem;
            border-bottom: 1px solid $input-border-grey;
        }
    }
}

.categoria-botoes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;
}

.categoria-error-message{
    color: rgb(243, 1, 1);
    font-weight: normal;
    font-size: 1rem;
}

