@import 'src/styles/reset';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.home-container{
    height: 100vh;
    position: relative;
    min-width: 900px;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    background-image: url('../../assets/SignIn/sign-in-capa.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.icone-logout{
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.logo-restaurante{
    font-size: 6em;
    color: #198754;
}

.home-titulo {
    line-height: 170px;
    margin-left: 25px; 
    color: $white;
    font-size: 4rem;
    text-align: center;
}

.home-body{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 75vh;
}

.home-gerencial, .home-operacional{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 2px solid $light-grey;
    padding: 15px;
}

.home-subtitulos{
    color: $medium-grey;
    @include flexCenter();
}

.home-botoes{
    display: flex;
    flex-direction: column;
}

.botoes-gerenciais-superiores, .botoes-gerenciais-inferiores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
    gap: 10px
}

.botoes-operacionais{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px
}