@import 'src/styles/reset';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.impressora-container{
    min-width: 900px;
    box-sizing: border-box;
    position: relative;
}

.impressora-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    background-image: url('../../assets/SignIn/sign-in-capa.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-restaurante{
    font-size: 6rem;
    color: #198754;
}

.impressora-titulo {
    line-height: 170px;
    margin-left: 25px; 
    color: $white;
    font-size: 4rem;
    text-align: center;
}

.impressora-body{
    padding: 40px 30px; 
    height: 100%; 
    position: relative;
    display: flex;
    flex-direction: column;

    .form{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
}

.divider::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    margin-right: 5px;
    background: $light-grey;
}

.impressora-label-input{
    .label-nome-impressora{
        margin-top: 40px;
        font-size: 1.2rem;
        font-weight: 600;
        display: block;
    }

    .input-impressora{
        width: 80%;
        margin-top: 10px;
        font-size: 1.2rem;
    }

    .impressora{
        width: 90px;
    }
}

.ip-porta{
    display: flex;
    width: 80%;
    
    .ip-contaner{
        width: 75%;

        .input-ip{
            margin-right: 10px;
            width: 90%;
            margin-top: 10px;
        }
    }
    
    .porta-container{
        width: 25%;

        .input-porta{
            margin-right: 10px;
            width: 100%;
            margin-top: 10px;
        }
    }
}


.resumo-impressora-container{   
    .resumo-impressora-scrollarea{
        border: 1px solid $input-border-grey;
        border-radius: 4px;
        margin-top: 40px;
        padding: 15px;
        width: 100%;
        height: 300px;
        overflow-y: auto;
        word-wrap: break-word;

        .resumo-titulo{
            font-size: 1.5rem;
            font-weight: 500;
            font-style: italic;
            text-decoration: underline;
            text-align: center;

        }
        
        .impressora-info-container{
            border-bottom: 1px solid $input-border-grey;
        }
        
        .resumo-item{
            font-size: 1rem;
            font-weight: 500;
            margin-top: 20px;
            color: $blue;
        }
        
        .resumo-info{
            display: flex;
            padding: 4px;
            font-size: 1rem;

            .info-title{
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
}

.impressora-botoes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;
}

.impressoras-error-message{
    color: rgb(243, 1, 1);
    font-weight: normal;
    font-size: 1rem;
}

