.navbar {
    background: var(--dark-grey);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    text-decoration: none;
    padding: 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
  }
  
  .navbar-logo{
    display: flex;
    align-items: center;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .fa-pagelines {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto); /*o repeat repeta a palavra auto o numero de vezes que eu indicar, grid-template-columns: repeat(4, auto) quer dizer o mesmo que grid-template-columns: auto auto auto auto*/
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;  /*vh = view height e vw = view width (1 vh = 1/100 da altura ou largura da viewport)*/
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
  }

  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 4px solid var(--dark-grey);
  }
  
  .nav-links:hover {
    border-bottom: 4px solid var(--white);
    transition: all 0.2s ease-out;
  }

  .fa-bars {
    color: #fff;
  }
  
  /*Remove o botão de sign up do fa-bars quando a tela for maior que 960px*/
  .nav-links-mobile {
    display: none;
  }
  
  /*Remove o fa-bars quando a tela for maior que 960px*/
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {  
    .nav-menu {
      display: flex;
      flex-direction: column; /*coloca os itens um em baixo do outro*/
      justify-content: flex-start;  /*desloca os itens para a parte de cima da tela*/
      width: 100%;  /*ocupa toda a largura da tela*/
      height: 90vh; /*ocupa toda a altura da tela*/
      position: absolute; 
      top: 80px;  /*distância para ficar abaixo da navbar*/
      left: -100%;  /*esconde a navbar no lado esquerdo da página*/
      opacity: 1;
      transition: all 0.7s ease;
      margin: 0;
      padding: 0;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      transform: translate(-100%, 60%);
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 70%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }