@import 'src/styles/reset';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.cargos-container{
    min-width: 900px;
    box-sizing: border-box;
    position: relative;
}

.cargos-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    background-image: url('../../assets/SignIn/sign-in-capa.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-restaurante{
    font-size: 6rem;
    color: #198754;
}

.cargos-titulo {
    line-height: 170px;
    margin-left: 25px; 
    color: $white;
    font-size: 4rem;
    text-align: center;
}

.cargos-body{
    padding: 40px 30px; 
    height: 75vh; 
    position: relative;
    display: flex;
    flex-direction: column;

    .form{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
}

.divider::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    margin-right: 5px;
    background: $light-grey;
}

.cargos-label-input{
    .label-nome-cargo{
        margin-top: 40px;
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
    }

    .input-cargos{
        width: 45%;
        margin-top: 10px;
        font-size: 1.5rem;
    }
}

.cargos-botoes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.cargo-error-message{
    color: rgb(243, 1, 1);
    font-weight: normal;
    font-size: 1rem;
}

