@import 'src/styles/mixins';
@import 'src/styles/reset';

.page-not-found-container{
    @include flexCenter();
    flex-direction: column;
    margin-top: 80px; 
}


.page-not-found-container i{
    font-size: 5em;
    color: #198754;
    margin-bottom: 20px;
}