@import 'src/styles/mixins';
@import 'src/styles/reset';
@import 'src/styles/variables';

.page-not-found-container{
    @include flexCenter();
    flex-direction: column;
    margin-top: 80px; 
}

.page-not-found-container h1{
    font-size: 2rem;
    color: $dark-grey;
    margin-top: 20px;
}