@import 'src/styles/variables';
@import 'src/styles/reset';

.sign-in-container{
    min-width: 900px;
}

.sign-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 100%;
    background-image: url('../../assets/SignIn/sign-in-capa.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-restaurante{
    font-size: 6.2rem;
    color: #198754;
}

.sign-in {
    line-height: 170px;
    margin-left: 25px; 
    color: $white;
    font-size: 4rem;
    text-align: center;
}

.login-container{
    display: flex;
    justify-content: center;
}

.login-card-data{
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 20px 20px; /*padding se aplica àquilo que está dentro do elemento e, não, ao elemento em si*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 270px;
    width: 500px;
    margin-top: 20px;
}

.user, .password{
    font-size: 1rem;
    font-weight: 660;
}

.password label{
    width: 50%;
}

.signin-error-message{
    color: rgb(243, 1, 1);
    font-weight: normal;
    font-size: 1rem;
}
