@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/reset';

.footer-container{
    @include flexCenter();
    flex-direction: column;
    background-color: $dark-grey;
    padding: 3rem 0 2rem 0;
}

.footer-subscription{
    @include flexCenter();
    flex-direction: column;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: $white;
}

.footer-subscription-heading{
    margin-bottom: 24px;
    font-size: 24px;
}

.footer-subscription-text{
    margin-bottom: 24px;
    font-size: 20px;
}

.form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-input{
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: 1px solid $white;
    font-size: 18px
}

.footer-input::placeholder{
    color: #b1b1b1;
}

.footer-links{
    display: flex;
    max-width: 1500px;
}

.footer-link-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-link-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 200px;
    box-sizing: border-box;
}

.footer-link-items h2{
    color: $white;
    margin-bottom: 16px;
}

.footer-link-items a{
    color: $white;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-items a:hover{
    color: $whiteHover;
    transition: 0.3s ease-out;
}

/* Social icons */

.social-icon-link{
    color: $white;
    font-size: 24px;
}

.social-media{
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto 0 auto;
}

.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo{
    color: $white;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    align-self: center;
    margin-bottom: 16px;

    &:hover{
        color: $whiteHover;
    }
}

.website-rights{
    color: $white;
}

.facebook:hover{
    color: #4267B2;
}

.instagram:hover{
    background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
    
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: #c13584;
}

.youtube:hover{
    color: red;
}

.twitter:hover{
    color: #1d9bf0
}

.linkedin:hover{
    color: #0a66c2
}

@media screen and (max-width: 960px){

    .form-container{
        flex-direction: column;
    }

    .footer-input{
        margin-right: 0;
        margin-bottom: 14px;
        width: 100%;
    }

    .btn{
        width: 100%;
    }

    .footer-link-wrapper{
        flex-direction: column;
    }

    .social-media-wrap{
        flex-direction: column;
    }

    .website-rights{
        margin-bottom: 20px;
    }
}
